<!-- matkul.ejs -->
<div class="w-full h-fit flex justify-center">
    <div class="bg-white w-fit p-5 rounded-[20px] h-auto m-4">
      <h1 class="mb-2 text-2xl font-bold text-[#777777]">Data Mata Kuliah</h1>
      <div class="bg-[#e4e9f7] mb-4 p-2 rounded-[20px]">
        <table class="striped-table" id="myTable">
          <thead>
            <tr>
              <th onclick="sortTable(0)">No</th>    
              <th onclick="sortTable(1)">Kode Matkul</th>
              <th onclick="sortTable(2)">Nama Matkul</th>
              <th onclick="sortTable(3)">SKS</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% matkul.forEach(function(matkul, index) { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= matkul.kode_matkul %></td>
                <td><%= matkul.nama_matkul %></td>
                <td><%= matkul.sks %></td>
                <td><button class="p-1 text-sm rounded-lg bg-emerald-500 text-white mr-2" onclick="window.location.href='/matkul/update?id=<%= matkul.id %>'">Update</button><button class="p-1 text-sm rounded-lg bg-red-600 text-white" onclick="window.location.href='/matkul/delete?id=<%= matkul.id %>'">Delete</button></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="">
          <button class="p-2 text-sm rounded-full bg-emerald-500 text-white" onclick="window.location.href='/matkul/tambah'">Tambah Mata Kuliah</button>
        </div>
    </div>
  </div>